
@use '../../styles/index.scss' as styles;

.reset-form {
  max-width: 400px;
  .ant-form-item {

    :deep(.ant-form-item-label) {
     text-align: start !important;
   
     label {
      @include styles.mixins-style-font-format(18px, 16px, 600, none, 0.01em);
      color: black !important;
     }
     
     .ant-form-item-required::before,
     ::after {
       display: none;
      }
    }
  }

  :deep(.ant-input) {
     @include styles.mixins-style-font-format(16px !important, 20px, 600, none, 0.01em);
     color: styles.$variables-light-blue-1;
     border: 0;
     border-bottom: 1px solid styles.$variables-light-gray-1;
  }


 .reset-button {
  @include styles.mixins-style-font-format(13px, 20px, 600, none, 0.01em);
  @include styles.mixins-style-width-height(168px, 40px);
  text-align: center;
  color: styles.$variables-white;
  background: styles.$variables-light-blue-1;
  @include styles.mixins-style-box-shadow(0px, 4px, 10px,  $color: styles.$variables-light-blue-2);
  border-radius: 4px;
 }
}